<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="guide mt-5">
    <h1>Редактирование гайда.</h1>
    <div th:each="el:${guide}">
        <form  method="post">
            <input type="text" th:value="${el.title}" name="title" placeholder="Название мода." class="form-control"><br>
            <input type="text" th:value="${el.anons}" name="anons" placeholder="Краткое описание." class="form-control"><br>
            <textarea  name="full"  placeholder="Описание." class="form-control" th:text="${el.full}"/><br>
            <button type="submit" class="btn btn-success">Добавить мод.</button>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>